*{
  margin: 0px;
  padding: 0px;
}

header{
  grid-area: header;
  height: 130%;
        img{ 
          display: block;
          margin-left: 10px;  
          margin-top: -25px;   
          height: 100%;
          padding: 30px 30px 0px 30px;
          
    }
}



body{
  display: grid;
  grid-template-areas:
  "header header header"
  "nav nav nav"
  "main main main"
  "footer footer footer" ;
  grid-template-columns:1fr 1fr 1fr ;
  grid-template-rows: 120px 0px 1fr 30px ;
  align-items: center;
  text-align: center;
  
  }


main{

  grid-area: main;
  width: 100%;
}

nav{
  grid-area: nav;
}


footer{
  grid-area: footer;
}




