*{
  margin: 0px;
  padding: 0px;
}

body{
  display: grid;
  grid-template-areas:
  "header"
  "nav"
  "main"
  "footer" ;
  align-items: center;
  text-align: center;
  }

header{
  grid-area: header;
  background-color: green;
}

nav{
  grid-area: nav;
  background-color: yellow;
}

main{
  grid-area: main;
  background-color: burlywood;
}

footer{
  grid-area: footer;
  
}



tbody tr td img{
  width: 200px;
}
