*{
  margin: 0px;
  padding: 0px;
}

header{
  grid-area: header;
  height: 130%;
        img{ 
          display: block;
          margin-left: 10px;  
          margin-top: -25px;   
          height: 100%;
          padding: 30px 30px 0px 30px;
          
    }
}



body{
  display: grid;
  grid-template-areas:
  "header header header"
  "nav nav nav"
  "main main main"
  "footer footer footer" ;
  grid-template-columns:1fr 1fr 1fr ;
  grid-template-rows: 120px 0px 1fr 30px ;
  align-items: center;
  text-align: center;
  }


main{

  grid-area: main;
  width: 100%;
}

nav{
  grid-area: nav;
}



header{

  background-color: #482865;
  width: 100%;
  height: 110px;
  position: relative;
}

body{
  background-color:  #ffffff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*footer*/


footer{
  background:purple;
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  ul{ 
      li{ 
          display: inline-block;
          text-align: right;
          float: right;
          margin-bottom: 50px;

              a{
                  text-decoration: none;
                  list-style-type: none;
                  color: #ffffff ;
                  font-size: 30px ;
                  font-weight: bold;
                  margin: 15px 15px;
                   
          }
      
  }   
}
}

footer ul li a:hover {
  color: #050cd2 ;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px ;
  padding: 10px 15px;

}

