#superGaleria{
	display: grid;
	grid-area: catalogo;
	grid-template-columns: 1fr;
	grid-template-rows:1fr 1fr 1fr;
	grid-template-areas:
		"titulo"
		"corousel"
		"descripcion";
	justify-content: center;

}

.tituloGaleria{
	grid-area: titulo;
}


.galeria img{
    width: 220px;
    padding: 10px;
    border: 3px solid #ffffff;
    align-content: center;


}

.conteiner1{
    display: flex;
    width: 95%;
    height: 260px;
    background: white!important; 
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}

.conteiner2{
    @extend .conteiner1
}

.conteiner3{
    @extend .conteiner1

}

.conteiner4{
    @extend .conteiner1

}

.galeria img:hover{
    background-color: blue;

}



/* --- --- CAROUSEL --- --- */



.carousel__contenedor {
	grid-area: corousel;
	position: relative;
	width: 90%;
	padding: 5px;
	margin-top: 40%;
	margin:auto
}

.carousel__anterior {
	position: absolute;
	display: block;
	width: 70px;
	height: 30px;
	border: none;
	top: calc(50% - 90px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: purple;
	opacity: 50%;
	font-size: 60px;
}

.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 90px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color:purple;
	opacity: 50%;
	font-size: 60px;
}

.carousel__anterior:hover{
	opacity: 100%;
}

.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
	img{
		width: 80%;
	}
}

.carousel__elemento {
	text-align: center;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background:purple;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

@media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}

.descripcion{
	grid-area: descripcion;
}