.galeria img{
    width: 220px;
    padding: 10px;
    border: 3px solid #ffffff;
    align-content: center;


}

.conteiner1{
    display: flex;
    width: 95%;
    height: 260px;
    background: purple; 
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}

.conteiner2{
    @extend .conteiner1
}

.conteiner3{
    @extend .conteiner1

}

.conteiner4{
    @extend .conteiner1

}

.galeria img:hover{
    background-color: blue;

}
