.carrusel-1{
    height: 100%;
    z-index: -10;
        #carouselExampleControls{
            .carousel-inner{
                .carousel-item{
                    img{
                        width: 100%;
                        object-fit:fill;
                        }
        
                }
            }
        }
        
        

h1{
    font-size: 90px;
    color: white;
    text-shadow: 6px 6px grey;
    position: absolute;
    padding: 0px;
    z-index: 100;
    margin: 0px;
    margin-top: -200px;
    margin-left: 50px;
}
}
#fortalezas{
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgba($color: #efdeff, $alpha: 1.0);
    h2{
        font-size: 60px;
        margin-bottom: 60px;
        margin-top: 50px;
    }
    #beneficios{
        display: grid;
        width: 100%;
        grid-template-areas: 
            "beneficios1 beneficios2 beneficios3";
        margin: 100px 0px;
        

        }

        h3{
            margin-bottom: 60px;
            color: purple;
            padding-top: 50px;
            font-size: 35px;
        }

        
        .container1{
            grid-area: beneficios1;
            width: 350px;
            height: 350px;
            border:  purple 8px outset;
            margin: auto;
            background-color: white;
        }
        .container2{
            grid-area: beneficios2;
            width: 350px;
            height: 350px;
            border:  purple 8px outset;
            margin: auto;
            background-color: white;
            
        }
        .container3{
            grid-area: beneficios3;
            width: 350px;
            height: 350px;
            border:  purple 8px outset;
            margin: auto;
            background-color: white;
    }
}





#favoritos{
    height: 100vh;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 5px;
    h2{
        font-size: 60px;
        margin-bottom: 60px;
        
    }
    .containerCenterHome{
        display: grid;
        z-index: -1;
        width: 100%;
        grid-template-areas:
            "item1 item2 item3";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 10px auto 60px ;
                    img{
                        width:400px;
                        padding: 5px;
                        border: 1px solid purple;
                        margin: 10% 0%;
                    }
                }

    .item1{
        grid-area: item1;
    }
    
    .item2{
        grid-area: item2;
    }
    
    .item3{
        grid-area: item3;
    }
}

