.conteGaleria{
    width: 90%;
    margin: 15px auto;
        .elemento{
            align-content: center;
            width: 220px;
            background: purple;

            margin: 30px;
            box-shadow:20px 2px 4px rgba(0,0,0,0.22) ;
        }
    }