.conteGaleria{
    width: 90%;
    margin: 15px auto;
        .elemento{
            width: 220px;
            background: purple;
            float: left;
            margin: 30px;
            box-shadow:0 2px 0 rgba(0,0,0,0.22) ;
        }
    }