
@import "../variables";

.navbar{
    position: fixed;
    z-index: 9999;
    top: 15px;
    right: 0px;
    background-color: rgba(50, 7, 131, 0.4) !important ;
    
        ul{
            li{
                display: block;
                float: right;
                a{
                    background-color: none;
                    text-decoration: none;
                    list-style-type: none;
                    color: white !important ; 
                    font-size: 30px;
                    font-weight: bold;
                    padding: 5px 30px;

     
            }
        }
    }
}


