
@import "../variables";

.navbar {
    position: fixed;
    z-index: 10;
    top: 50px;
    right: 0px;
    background-color: $color-principal !important ;
    ul{
        li{
            display: block;
            float: right;
            z-index: 10;
            margin-top:0px;
            top: 0px;
            a{
                background-color: none;
                text-decoration: none;
                list-style-type: none;
                color: $white ; 
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ; 
                font-size: 30px;
                font-weight: bold;
                padding: 15px 30px;              
            }
        }
    }
}


