/*carrusel-bootstrap*/
.carrusel-1{
    margin-top: -20px;
    z-index: -10;
    h1{
        font-size: 50px;
        color: white;
        text-shadow: 3px 3px grey;
        position: absolute;
        padding: 0px;
        z-index: 100;
        margin: 0px;
        margin-top: -120px;
        margin-left: 50px;
      }
}

.containerCenterHome{
    display: grid;
    z-index: -1;
    width: 100%;
    padding: 0px;
    grid-template-areas:
        "item1 item2 item3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 30px auto 60px ;
                img{
                    width:400px;
                    padding: 5px;
                    border: 1px solid purple;
                    margin: 30% 0%;
                }
            }


#beneficios{
    display: grid;
    width: 100%;
    grid-template-areas: 
        "beneficios1 beneficios2 beneficios3";
    margin: 100px 0px;
    
    h2{
        margin-bottom: 60px;
    }

    
    .container1{
        grid-area: beneficios1;
        width: 350px;
        height: 350px;
        border:  purple 8px outset;
        margin: auto;
    }
    .container2{
        grid-area: beneficios2;
        width: 350px;
        height: 350px;
        border:  purple 8px outset;
        margin: auto;
        
    }
    .container3{
        grid-area: beneficios3;
        width: 350px;
        height: 350px;
        border:  purple 8px outset;
        margin: auto;
    }
}



.item1{
    grid-area: item1;
}

.item2{
    grid-area: item2;
}

.item3{
    grid-area: item3;
}

